flask==0.11.1
flask_bootstrap==3.3.7.0
flask_mail==0.9.1
flask_Moment==0.5.1
flask_sqlalchemy==2.1
flask_script==2.0.5
flask_wtf==0.13.1
jinja2==2.8
mako==1.0.6
markupsafe==0.23
sqlalchemy==1.1.4
wtforms==2.1
werkzeug==0.11.11
alembic==0.8.9
blinker==1.4
itsdangerous==0.24
flask_login==0.4.0